* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.btn--primary {
  background-image: linear-gradient(
    to right,
    #36d1dc 0%,
    #5b86e5 51%,
    #36d1dc 100%
  );
  outline: none;
  border: none;
  background-size: 200% auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
}

.btn--primary:hover {
  transition: 0.5s;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.phoneDisplayLogo {
  display: none;
}

@media screen and (max-width: 380px) {
  .phoneDisplayNoText {
    display: none;
  }

  .phoneDisplayLogo {
    display: flex;
  }
}
