* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.btn--primary {
  background-image: linear-gradient(
    to right,
    #36d1dc 0%,
    #5b86e5 51%,
    #36d1dc 100%
  );
  outline: none;
  border: none;
  background-size: 200% auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
}

.btn--secondary {
  background-color: #91e037;
  outline: none;
  border: none;
  background-size: 200% auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
}

.homeButtons {
  /* outline: none;
  border: none;
  margin-right: 5px;
  margin-left: 1250px;
  margin-bottom: 7px; */
  size: 10em;

  padding-top: 10em;
  padding-right: 3em;
  list-style: none;
  display: block;
  float: right;
  line-height: 2em;
}

.btn--primary:hover {
  transition: 0.5s;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
.btn--secondary:hover {
  background-color: #83ca31;
}

.phoneDisplayLogo {
  display: none;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 380px) {
  .phoneDisplayNoText {
    display: none;
  }

  .phoneDisplayLogo {
    display: flex;
  }
}
