.btn--primary {
    background-image: linear-gradient(
      to right,
      #36d1dc 0%,
      #5b86e5 51%,
      #36d1dc 100%
    );
    /* display: none; */
    outline: none;
    border: none;
    background-size: 200% auto;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 7px;
  }